body{
    background-image: url(https://images4.alphacoders.com/962/thumb-1920-962077.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;

}
html {

    scroll-behavior:smooth;
}
.itens_menu{
    margin-bottom: 2%;
    padding: 1%;
    
}


.container{

      width: 70%;
      margin: auto;

}

h1{
       text-align: center;
       font-size: 1.2cm;
       color: aliceblue;
       font-family: Times New Roman;
       margin-bottom: 2%;
       margin-top: 2%;
       
       

}


img{
    width: 50%;
}

figure{

      text-align: center;
      margin-top: 3%;
    margin-bottom: 3%;

}
h2{
    font-size: 1.2cm;
    text-align: center;
    color: silver;
    font-family: Times New Roman;
    margin-top: 7%;
    margin-bottom: 2%;
}

p{
    font-size: 1.1EM;
    font-family: Verdana;
    color: silver;
    margin-top: 2%;
    margin-bottom: 3%;
}

.itens_menu li{
    text-align: center;
    font-size: 1.3em;

}

  
  footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    
    
}

.center{
    text-align: center;
}


a:link {

        color: silver;
    
    }
    
     a:visited {
        color: silver;
      }
      
    
      a:hover {
        color: silver;
    
      }
      
      a:active {
        color: silver;
    
      }
    


      .coisinha{

        float: left;
        margin: 2%;
        width: 500px;
       

      }
      .olimpiadas{
        float: right;
        margin: 2%;
        width: 250px;
      
      }