body{
    background-image: url(https://i.pinimg.com/originals/58/28/8d/58288dc858e6fb1088a6fc2098025f78.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    text-align: center;
    font-size: 1cm;
    color: black;
    font-family: Lucida;

}