body{
    background-image: url(https://images4.alphacoders.com/962/thumb-1920-962077.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
html {

    scroll-behavior:smooth;
}


.container{

      width: 70%;
      margin: auto;

}

h1{
       text-align: center;
       font-size: 1.2cm;
       color: aliceblue;
       font-family: Times New Roman;
       

}


img{
    width: 50%;
}

figure{

      text-align: center;
}
h2{
    font-size: 1.2cm;
    text-align: center;
    color: silver;
    font-family: Times New Roman;
}

p{
    font-size: 1.1EM;
    font-family: Verdana;
    color: silver;
}

.itens_menu li{
    text-align: center;
    font-size: 1.3em;

}

div.scrollmenu {
    background-color: #E60039;
    overflow: auto;
    white-space: nowrap;
  }
  
  footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    
}

.center{
    text-align: center;
}


a:link {

        color: silver;
    
    }
    
     a:visited {
        color: silver;
      }
      
    
      a:hover {
        color: silver;
    
      }
      
      a:active {
        color: silver;
    
      }